.header {
	width: 100%;
	height: var(--header-height);
	z-index: 10;
	padding-inline: 50px;
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	overflow: hidden;
	position: sticky;
	top: -1px;
	background-color: var(--background);
	backdrop-filter: saturate(180%) blur(5px);
	opacity: 0.9;
}
.header::after {
	position: absolute;
	content: "";
	bottom: 0;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.0199673) 0.01%,
			rgba(0, 0, 0, 0.0416667) 99.99%,
			rgba(0, 0, 0, 0) 100%
		),
		linear-gradient(
			90deg,
			var(--background) 1.04%,
			var(--primary-variant) 19.79%,
			var(--secondary) 34.9%,
			var(--primary-variant) 79.69%,
			var(--background) 98.96%
		);
}
.nav {
	display: flex;
	align-items: center;
	gap: 8px;
}
.nav > a:focus-visible {
	outline: 3px solid var(--primary-variant);
	outline-offset: 3px;
}
h5.disabled {
	text-decoration: underline 3px var(--primary);
	text-underline-offset: 4px;
	cursor: auto;
	color: var(--on-background-high);
}
h5.nav_link {
	position: relative;
	display: inline-block;
	background-clip: text;
	background: linear-gradient(
		to right,
		var(--on-background-high) 0%,
		var(--on-background-high) 50%,
		var(--on-background-medium) 50%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}
h5.nav_link:hover {
	background-position: 0 100%;
}

/* .header > * > a:focus-within > h5 {
	color: var(--tertiary);
	-webkit-text-fill-color: inherit;
} */
nav.nav,
.theme_changer_container,
.login {
	width: 100%;
}
.theme_changer_container {
	display: flex;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.theme_changer {
	background: none;
	border: none;
	display: flex;
	border-radius: 50%;
	padding: 0;
}
.theme_changer:focus {
	outline-style: none;
	box-shadow: 0 0 0 3px var(--background), 0 0 0 6px var(--primary);
}
.theme_changer > img:hover,
.theme_changer:focus > img {
	transform: rotate(-45deg);
}
.theme_changer > img {
	transition: all 0.6s ease-in-out;
}
.theme_changer + dialog {
	height: 50%;
	top: 100px;
	margin-block: 0;
	border: 2px solid transparent;
	border-radius: var(--border-radius);
	color: var(--on-surface-high);
	filter: drop-shadow(0 8px 30px 0, 0, 0, 0.24);
	border: 3px solid transparent;
	box-shadow: var(--box-shadow);
	background-image: linear-gradient(var(--form), var(--form)),
		linear-gradient(
			calc(var(--gradient-rotation)),
			var(--secondary) 0,
			var(--primary) 20%,
			var(--primary-variant) 80%
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	overscroll-behavior: contain;
}

.theme_changer + dialog::backdrop {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
.theme_changer + dialog > .dialog_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.theme_changer + dialog > .dialog_content .options {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	height: 100%;
	padding-inline: 1rem;
}

.theme_changer + dialog > .dialog_content .options > * {
	min-width: 100%;
}

@media (min-width: 480px) {
	.nav {
		gap: 50px;
	}
	.theme_changer + dialog {
		margin-block: auto;
		height: 60vh;
	}
	.theme_changer + dialog > .dialog_content {
		width: 100%;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.theme_changer + dialog > .dialog_content > .options {
		display: flex;
	}
	.theme_changer + dialog > .dialog_content > button {
		align-self: flex-end;
		margin-right: 1rem;
	}
}
