.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: -1px;
	width: 100dvw;
	height: var(--header-height);
	z-index: 10;
	padding-inline: 2rem;
	padding-block: 2rem;
	background-color: var(--background);
	backdrop-filter: saturate(180%) blur(5px);
}

.hamburger_line {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: var(--primary);
	border-radius: 3px;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.hamburger_line:first-child {
	transform-origin: 0% 0%;
}

.hamburger_line:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* THEME CHANGE */
.theme_changer_container {
	display: flex;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.theme_changer,
.hamburger_icon {
	background: none;
	border: none;
	display: flex;
	border-radius: 50%;
	padding: 0;
}
.hamburger_icon {
	flex-direction: column;
}
.theme_changer:focus {
	outline-style: none;
	box-shadow: 0 0 0 3px var(--background), 0 0 0 6px var(--primary);
}
.theme_changer > img:hover,
.theme_changer:focus > img {
	transform: rotate(-45deg);
}
.theme_changer > img {
	transition: all 0.6s ease-in-out;
}

/* Navigation */
.navigation_links {
	display: flex;
	width: 100dvw;
	position: relative;
	flex-direction: column;

	padding-inline: 2rem;
	margin-bottom: 2rem;
}
.navigation_link_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100dvw;
	z-index: 10;
	padding-block: 1rem;
	background-color: var(--background);
	backdrop-filter: saturate(180%) blur(5px);
}

/* Gradient Line after Header and Nav li's */
.header::after,
.navigation_link_wrapper::after {
	position: absolute;
	content: "";
	bottom: 0;
	height: 3px;
	width: 100dvw;
	background-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.0199673) 0.01%,
			rgba(0, 0, 0, 0.0416667) 99.99%,
			rgba(0, 0, 0, 0) 100%
		),
		linear-gradient(
			90deg,
			var(--background) 1.04%,
			var(--primary-variant) 19.79%,
			var(--secondary) 50%,
			var(--primary-variant) 79.69%,
			var(--background) 98.96%
		);
}
