:root {
	/* Settings */
	--border-radius: 25px;
	--gradient-rotation: -0.3rad;
	--max-width: 100dvw;
	--header-height: 100px;
	--footer-height: 100px;
	--box-shadow: 2px 4px 12px var(--shadow);
	--box-shadow-hover: 2px 4px 16px var(--shadow-hover);
	--breadcrumb-margin: 3rem;
	--outline: 2px solid var(--primary);

	/***Colour Variables***/
	/* Colors */
	--primary: rgb(180, 117, 201);
	--primary-variant: rgb(134, 114, 214);
	--secondary: rgb(149, 82, 171);
	--tertiary: rgb(72, 129, 51);
	--background: rgba(245, 252, 251, 0.878);
	--footer: rgb(215 221 224 / 60%);
	--form: rgb(245 252 251);
	--surface: rgb(245 252 251);
	--shadow: rgb(0 0 0 / 8%);
	--shadow-hover: rgb(0 0 0 / 16%);
	--error: rgba(250, 36, 12, 0.94);
	/* On Colors */
	--on-primary: rgba(0, 0, 0);
	--on-primary-high: rgba(0, 0, 0);
	--on-primary-medium: rgba(0, 0, 0);
	--on-primary-disabled: rgba(0, 0, 0);
	--on-primary-variant: rgba(4, 4, 4);
	--on-secondary: rgba(0, 0, 0, 1);
	--on-tertiary: rgba(251, 251, 251, 99);
	--on-background-high: rgba(13, 13, 13, 0.87);
	--on-background-medium: rgba(13, 13, 13, 0.6);
	--on-background-disabled: rgba(255, 255, 255, 0.38);
	--on-surface: rgba(26, 26, 26, 1);
	--on-surface-high: rgba(26, 26, 26, 0.87);
	--on-surface-medium: rgba(26, 26, 26, 0.6);
	--on-surface-disabled: rgba(26, 26, 26, 0.38);
	--on-error: rgba(253, 253, 253, 1);
}
/* Dark Mode Colour Variables */
[data-theme="dark"] {
	/* Colors */
	--primary: rgba(180, 117, 201, 1);
	--primary-variant: rgba(134, 114, 214, 1);
	--background: rgba(13, 13, 13, 1);
	--footer: rgb(13 13 13 / 60%);
	--form: rgb(33, 35, 38);
	--surface: rgba(33, 35, 38, 1);
	--shadow: rgb(180 117 201 / 4%);
	--shadow-hover: rgb(253 253 253 / 16%);
	--error: rgba(250, 36, 12, 0.94);

	/* On Colors */
	--on-primary-high: rgba(29, 30, 31, 0.87);
	--on-primary-medium: rgba(29, 30, 31, 0.6);
	--on-primary-disabled: rgba(29, 30, 31, 0.38);
	--on-background-high: rgba(255, 255, 255, 0.87);
	--on-background-medium: rgba(255, 255, 255, 0.6);
	--on-background-disabled: rgba(255, 255, 255, 0.38);
	--on-surface: rgba(255, 255, 255, 1);
	--on-surface-high: rgba(255, 255, 255, 0.87);
	--on-surface-medium: rgba(255, 255, 255, 0.6);
	--on-surface-disabled: rgba(255, 255, 255, 0.38);
}
/* Variables Applied Globally */
body {
	color: var(--on-background-medium);
	background: var(--background);
	font-family: var(--font-inter);
}
.high {
	color: var(--on-background-high);
}
.error {
	background: var(--error);
	color: var(--on-error);
}
main {
	background-color: var(--background);
	overflow: hidden;
}
/***End of Colour Variables***/

/***Typography***/
/* In the type scale, headlines span from a range of 1 through 6. Headlines are the largest text on the screen, reserved for short, important text or numerals.

For headlines, you can choose an expressive font, such as a display, handwritten, or script style. These unconventional font designs have details and intricacy that help attract the eye. */
/* Serif or sans serif typefaces work well for headlines, especially at smaller sizes. */

/* Subtitles are smaller than headlines. They are typically reserved for medium-emphasis text that is shorter in length. Serif or sans serif typefaces work well for subtitles. */
/* Body text comes in ranges 1-2, and it’s typically used for long-form writing as it works well for small text sizes. For longer sections of text, a serif or sans serif typeface is recommended. */
/* Caption and overline text (text with a line above it) are the smallest font sizes. They are used sparingly to annotate imagery or to introduce a headline. */
/* Button text is a call to action used by different types of buttons (such as text, outlined and contained buttons) and in tabs, dialogs, and cards.

Button text is typically an all caps sans serif. */
h1,
h2,
h3,
h4,
h5,
a,
.subtitle_1,
.subtitle_2 {
	font-family: var(--font-poppins) !important;
}
h1,
h1 > strong {
	font-size: max(48px, min(5vw, 72px));
	font-weight: 800;
	letter-spacing: -1.5px;
}

h2 {
	font-size: max(30px, min(4vw, 58px));
	font-weight: bolder;
	letter-spacing: -0.5px;
}
h3 {
	font-size: max(26px, min(3vw, 47px));
	font-weight: bold;
	letter-spacing: 0px;
}
h4 {
	font-size: max(20px, min(2.5vw, 33px));
	font-weight: normal;
	letter-spacing: 0.25px;
}
h5 {
	font-size: max(16px, min(5vw, 23px));
	letter-spacing: 0px;
}
h6 {
	font-size: 19px;
	font-weight: normal;
	letter-spacing: 0.15px;
}
.subtitle_1 {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.15px;
}
.subtitle_2 {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.1px;
}

h6,
.body_1,
.body_2,
.button,
.caption,
.overline {
	font-family: var(--font-inter);
}
.body_1,
.body_1_center {
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-bottom: 16px;
}
.body_1 {
	text-align: start;
}
.body_1_center {
	text-align: center;
}
.body_2,
.button {
	font-size: 14px;
}
.body_2 {
	letter-spacing: 0.25px;
}
.uppercase,
.button {
	text-transform: uppercase;
}
.overline {
	font-size: 11px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

/***End of Typography***/

/***Global Resets***/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}
.container {
	max-width: var(--max-width);
	margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
@media (min-width: 480px) {
	:root {
		--max-width: 60rem;
	}
}
/***End of Global Resets***/
/* Reused Components */
footer {
	height: var(--footer-height);
	position: relative;
	background-image: linear-gradient(
		to left,
		var(--background) 0%,
		var(--footer) 38.2%,
		var(--footer) 61.8%,
		var(--background) 100%
	);
	border-top: 3px solid transparent;
	color: var(--on-surface-medium) !important;
}
footer::before {
	position: absolute;
	content: "";
	height: 3px;
	top: -3px;
	width: 100%;
	background-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.0199673) 0.01%,
			rgba(0, 0, 0, 0.0416667) 99.99%,
			rgba(0, 0, 0, 0) 100%
		),
		linear-gradient(
			90deg,
			var(--background) 1.04%,
			var(--primary-variant) 38.2%,
			var(--primary-variant) 61.8%,
			var(--background) 98.96%
		);
}
footer .footer_wrapper {
	display: flex;
	max-width: var(--max-width);
	margin: 0 auto;
	min-height: fit-content;
	padding-block: 2.5rem;
	align-items: center;
	justify-content: space-evenly;
}

dialog {
	width: 600px;
	aspect-ratio: 1.618/1;
	margin: auto;
	overflow: hidden;
	border-radius: var(--border-radius);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}

.secondary {
	color: var(--on-surface-medium);
}
.disabled {
	color: var(--on-surface-disabled);
}
