.form_title,
.step_title {
	text-align: center;
}
.step_title {
	margin-bottom: 2.5rem;
}
.form {
	background-color: var(--surface);
	color: var(--on-surface-medium);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: var(--border-radius);
	border: 2px solid var(--primary);
	padding: 2.5rem;
	margin-block: 5rem;
	margin-inline: 0.75rem;
	max-width: 100%;
	aspect-ratio: 1.618/1;
}
.form .field_container {
	width: 100%;
	padding-block: 1rem;
}
.form .field_container .field {
	width: 100%;
	margin-top: 1.25rem;
	font-size: 18px;
	padding: 1.25rem;
	border-radius: var(--border-radius);
	border: 2px solid var(--primary);
}
.form .field_container .field:focus {
	outline: 3px solid var(--primary);
}
.form_error {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 1.25rem;
	padding-block: 0.75rem;
	margin: 1.25rem auto;
	border-radius: var(--border-radius);
	width: max-content;
}
.textarea {
	resize: none;
	font-family: inherit;
	padding: 3rem;
	height: 300px;
	aspect-ratio: 1 / 0.618;
	box-sizing: border-box;
	display: block;
	/* margin: auto; */
	text-align: initial;
}
.textarea:focus-within {
	outline: 2px solid var(--secondary);
}
.textarea::placeholder {
	margin: auto;
	/* padding-block: 0.5rem; */
}
.options_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1.25rem;
	flex-wrap: wrap;
}
.options_container > div {
	flex: 50%;
	width: 100%;
	padding: 0.5rem;
}
.options_container .option_label {
	padding-left: 0.5rem;
	font-size: 18px;
	text-transform: capitalize;
}
.form > .step_nav_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 2.5rem;
}
.form > .step_nav_container > .step_nav_buttons {
	display: flex;
	padding-top: 1rem;
}
.form > .step_nav_container > .step_nav_buttons > .step_nav_button {
	margin-inline: 1.25rem;
}
.preview_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}
.image_preview {
	max-width: 100%;
	max-height: 320px;
	filter: grayscale(100%);
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.image_preview:hover {
	filter: grayscale(0%);
}

@media screen and (min-width: 960px) {
	.form {
		margin-inline: 0;
	}
	.form .field_container {
		padding: 1.25rem 2.5rem;
	}
	.options_container {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
}
