/**** HERO SECTION ****/
.radial_background {
	background: radial-gradient(
		ellipse at center,
		var(--surface) 0%,
		var(--background) 67%
	);
}

.hero_container {
	max-height: 924px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 33% 67%;
	overflow: hidden;
	padding-bottom: 10vh;
}
.heading_container {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}
.heading_container > h1.heading {
	letter-spacing: -3px;
	text-align: center;
}
.heading_container > h1.heading > strong {
	/* background: linear-gradient(to right, #0a42c4 7.45%, #0aa5c4 94.12%); */
	background: linear-gradient(
		to right,
		var(--primary) 7.45%,
		var(--primary-variant) 94.12%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.buttons_container {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem;
}
.image_container {
	display: none;
	isolation: isolate;
}
.image_container > img {
	z-index: 2;
}
.image_container::before {
	content: '';
	position: absolute;
	z-index: -1;
	height: 90%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: conic-gradient(
		from var(--gradient-rotation),
		var(--primary-variant) 0%,
		var(--secondary) 62.5%,
		var(--primary) 75%,
		var(--secondary) 82.5%,
		var(--primary-variant) 100%
	);
	background-size: 100% 100%;
	box-shadow: -1px -2px 5px 2px var(--surface),
		inset 0 0 5px 3px var(--background);
}
.image_container::after {
	content: '';
	position: absolute;
	z-index: 1;
	height: 400px;
	width: 175px;
	border-radius: var(--border-radius);
	background-color: white;
	/* background-image: url('/public/site-scroll.webp'); */
}

@media (min-width: 480px) {
	.buttons_container {
		grid-column: 1 / span 1;
	}
	.image_container {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/**** ABOUT SECTION ****/
.about_container {
	position: relative;
	display: block;
	min-width: var(--max-width);
	margin: 0 auto;
	padding-block: 5rem;
	background-color: var(--background);
}
/* Section Border Lines */
.about_container::before,
.about_container::after {
	position: absolute;
	content: '';
	bottom: 0;
	height: 100%;
	width: 3px;
}
/* Left Hand Gradient Border */
.about_container::before {
	left: 0;
	background-image: linear-gradient(
		var(--background) 1.04%,
		var(--primary-variant) 19.79%,
		var(--secondary) 34.9%,
		var(--primary-variant) 79.69%,
		var(--background) 98.96%
	);
	z-index: 2;
}
/* Right Hand Gradient Border */
.about_container::after {
	right: 0;
	background-image: linear-gradient(
		var(--background) 0%,
		var(--primary-variant) 19.79%,
		var(--background) 34.9%,
		var(--background) 50%,
		var(--primary-variant) 66.6%,
		var(--secondary) 75%,
		var(--primary-variant) 79.69%,
		var(--background) 100%
	);
	z-index: 2;
}
/* Top Gradient Border */
.grid_top_border {
	position: relative;
	width: 100%;
}
.grid_top_border::before {
	--offset: 200px;
	content: '';
	position: absolute;
	top: 0;
	left: calc(var(--offset) / 2 * -1);
	height: 3px;
	width: calc(100% + var(--offset));
	background-image: linear-gradient(
		to left,
		var(--background) 1.04%,
		var(--primary-variant) 19.79%,
		var(--secondary) 34.9%,
		var(--primary-variant) 79.69%,
		var(--background) 98.96%
	);
	z-index: 2;
}

/* 4x GRID */
.about_grid {
	max-width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	position: relative;
}
.about_grid > * {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Inner Borders */
.about_grid > .about_grid_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0;
	position: relative;
}
.about_grid > .about_grid_section:nth-child(-n + 2) {
	border-bottom: solid 2px transparent;
}
/* X Axis Left-to-Right Gradient Border */
.about_grid > .about_grid_section:nth-child(1)::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 200%;
	height: 2px;
	background-image: linear-gradient(
		to right,
		var(--secondary) 0%,
		var(--primary-variant) 50%,
		var(--background) 98.96%
	);
}
/* Y Axis Top-To-Bottom Gradient Border */
.about_grid > .about_grid_section:nth-child(2n) {
	border-left: solid 3px transparent;
}
.about_grid > .about_grid_section:nth-child(2)::before {
	content: '';
	position: absolute;
	top: 0px;
	left: -3px;
	width: 4px;
	height: calc(200% + 5rem);
	background-image: linear-gradient(
		var(--secondary) 0%,
		var(--primary-variant) 50%,
		var(--background) 98.96%
	);
	z-index: 1;
}
.about_grid > .about_grid_section:nth-child(n + 2):nth-child(-n + 3) {
	padding: 3rem;
}
.about_grid > .about_grid_top_left,
.about_grid > .about_grid_bottom_right {
	display: grid !important;
	grid-template-columns: repeat(auto-fill, minmax(0, 10%));
	grid-template-rows: repeat(auto-fill, minmax(0, 10%));
	background: url(../public/gridBackground.svg);
	background-size: 10%;
}
.placeholder {
	grid-column: 3 / span 6;
	grid-row: 2 / span 2;
}
.map {
	grid-column: 2 / span 8;
	grid-row: 2 / span 8;
	height: 100%;
	width: 100%;
	border-radius: var(--border-radius);
	background-image: linear-gradient(
		to left,
		var(--background) 1.04%,
		var(--primary-variant) 19.79%,
		var(--secondary) 34.9%,
		var(--primary-variant) 79.69%,
		var(--background) 98.96%
	);
	border: 3px solid transparent;
	background-image: linear-gradient(var(--background), var(--background)),
		linear-gradient(
			calc(15deg),
			var(--primary) 0,
			var(--primary-variant) 20%,
			rgba(121, 40, 20, 0) 80%
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	--box-shadow: 0 -3px 5px 5px var(--shadow);
	box-shadow: var(--box-shadow);
}
.map:hover {
	--box-shadow-hover: 0 -2px 6px 6px var(--shadow-hover);
	box-shadow: var(--box-shadow-hover);
}
@media (min-width: 480px) {
	.about_grid {
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
	}
	.about_grid > * {
		min-height: 50vh;
	}
}
/**** ABOUT SECTION ****/

/**** CONTACT SECTION ****/
.contact_section {
	--stack-direction: row;
	--stack-flex: initial;
	--stack-align: center;
	--stack-justify: center;
	--stack-padding: 0px;
	--stack-gap: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 5rem;
	background: radial-gradient(
		ellipse at center,
		var(--surface) 0%,
		var(--background) 67%
	);
}
.contact_container {
	position: relative;
	display: flex;
	flex-direction: var(--stack-direction);
	align-items: var(--stack-align);
	justify-content: var(--stack-justify);
	flex: var(--stack-flex);
	gap: var(--stack-gap);
	width: 100%;
	padding-top: 2.5rem;
}
.text_section {
	display: block;
	padding: 2.5rem;
	height: 100%;
	text-align: start;
}
.text_section h5,
.text_section p {
	margin-bottom: 14px;
}

/**** CONTACT SECTION ****/
