.nav_button {
	padding: 0;
	background: none;
	display: none;
	border: 0;
}
.disabled {
	display: none;
}
.nav_button:focus-visible {
	outline: 3px solid var(--primary-variant);
	outline-offset: 3px;
}

.dropdown_parent {
	position: relative;
	display: none;
}
@media (min-width: 1024px) {
	.dropdown_parent {
		display: block;
	}
}

.dropdown_wrapper {
	--dropdown-width: 400px;
	position: absolute;
	top: 50px;
	right: 0;
	height: fit-content;
	padding: 2rem;
	width: var(--dropdown-width);
	z-index: 20;
	border: 2px solid var(--primary);
	border-radius: var(--border-radius);
	background-color: var(--background);
	transition: all 0.6s cubic-bezier(0, 0, 0.5, 1);
}

.login_form {
	display: flex;
	/* z-index: 20; */
	flex-direction: column;
}
.login_form > input {
	margin: 0.5rem;
	border-radius: var(--border-radius);
	border: solid 1px var(--secondary);
	padding: 0.5rem;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
.active {
	display: block;
	visibility: visible;
	opacity: 1;
}
.submit {
	align-self: flex-end;
	margin: 0.5rem;
}

@media (min-width: 1024px) {
	.nav_button,
	.disabled {
		display: block;
	}
}
