.button_small {
	max-width: fit-content;
	padding: 12.5px;
	margin-block: 12.5px;
}
.button_medium {
	width: 50%;
	padding: 12.5px;
	margin-block: 25px;
}
.button_large {
	padding: 25px;
	margin-block: 50px;
	width: 100%;
}

.button_small,
.button_medium,
.button_large {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.25px;
	border-radius: var(--border-radius);
	border: 2px solid transparent;
	box-shadow: var(--box-shadow);
	background-color: var(--background);
	background-image: linear-gradient(var(--background), var(--background)),
		linear-gradient(
			calc(-15deg),
			var(--primary) 0,
			var(--primary-variant) 20%,
			rgba(121, 40, 20, 0) 80%
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.button_small::after,
.button_medium::after,
.button_large::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-hover);
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.button_small:hover::after,
.button_medium:hover::after,
.button_large:hover::after {
	opacity: 1;
}
