/* Button Size Definitions */
.button_small {
	max-width: fit-content;
	padding: 12.5px;
	margin-block: 12.5px;
}
.button_medium {
	width: 50%;
	padding: 12.5px;
	margin-block: 25px;
}
.button_large {
	padding: 25px;
	width: 100%;
}

.button_small,
.button_medium,
.button_large {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.25px;
	border-radius: var(--border-radius);
	border: 2px solid transparent;
	box-shadow: var(--box-shadow);
	background-color: var(--background);
	background-image: linear-gradient(var(--background), var(--background)),
		linear-gradient(
			0deg,
			var(--primary) 0,
			var(--primary-variant) 20%,
			rgba(121, 40, 20, 0) 80%
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	text-align: center;
	cursor: pointer;
	color: var(--on-background-medium);
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.button_small:focus,
.button_medium:focus,
.button_large:focus {
	outline: 2px solid var(--primary);
}
.button_small::after,
.button_medium::after,
.button_large::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-hover);
	opacity: 0;
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.button_small:hover::after,
.button_medium:hover::after,
.button_large:hover::after {
	opacity: 1;
}
.button_small:hover,
.button_medium:hover,
.button_large:hover {
	color: var(--on-background-high);
}

.button_edit {
	background: var(--edit);
	color: var(--on-edit);
}
.button_delete {
	background: var(--error);
	color: var(--on-error);
}
.button_delete:hover {
	color: var(--on-error-hover);
}
.button_edit:hover {
	color: var(--on-edit-hover);
}
